
/**
 * @file
 * Main stylesheet file.
 */


/*****************************************************************************
 * Main elements
 ****************************************************************************/
html {
  overflow-y: scroll;
}
a {
  cursor: pointer;
}
::selection {
  background: #303F9F;
  color: #0288D1;
}
::-moz-selection {
  background: #303F9F;
  color: #0288D1;
}
::-webkit-selection {
  background: #303F9F;
  color: #0288D1;
}
.navbar-default {
  background: #303F9F;
  color: #FF9800;
}
/* Main elements end */


/*****************************************************************************
 * Various other styles
 ****************************************************************************/

/* Various other styles end */
